@model ShipTo.Core.Entities.Carrier
<!-- Add & Update modal -->
<div class="modal fade" id="Modal_AddUpdate_Carrier" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <form id="form_AddUpdate_Carrier" method="post">
                <div class="modal-body">
                    <input id="ActionType" name="ActionType" type="hidden" value="0" />
                    <input id="Id" name="Id" type="hidden" value="0" />
                    <input id="ReloadActionURL" name="ReloadActionURL" type="hidden" />
                    <input id="IsUsedExternal" name="IsUsedExternal" type="hidden" value="false" />
                    <input id="ControlId" name="ControlId" type="hidden" />

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="Name" class="control-label required"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger ValidationSpan"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger ValidationSpan"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger ValidationSpan"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger ValidationSpan"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Notes" class="control-label required"></label>
                            <input asp-for="Notes" class="form-control" />
                            <span asp-validation-for="Notes" class="text-danger ValidationSpan"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="PostForm('form_AddUpdate_Carrier', '@Url.Action("AddUpdate", "Carrier")')" class="btn btn-primary modalFooterToRight">&nbsp;&nbsp; <i class="fa fa-fw fa-save"></i> حـفـظ  &nbsp; &nbsp; </button>
                    @*<button type="reset" class="btn btn-default modalFooterToRight" >إلغاء</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
