
body {
    font-size: 13px;
}


.top-nav {
    float: right !important;
}

#wrapper {
    padding-right:4px;
    padding-left:4px;
}

.label-error{
    color:red;
}

a  {
    cursor: pointer;
}

select {
    padding: 3px 12px !important;
}

.required:after {
    content: " *";
    color: red;
}

.text-danger {
    color: #d51c19 !important;  
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
     text-align: right; 
}

.dropdown-menu {
    min-width: 270px;
}

.nowrap-table th, .nowrap-table  td {
    
    white-space: nowrap;
}


  th,   td {
    white-space: inherit;
}

table.dataTable tbody tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgb(132 133 135 / 90%);
    color: white;
}

.modalFooterToRight {
    float: right;
    direction: rtl !important;
    text-align: right;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

 
/************** Spinner *****************************************/

.loader {
    position: relative;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    right: 50%;
    top: 40%;
    -webkit-animation: spin 1.5s linear infinite; /*Safari */
    animation: spin 1.5s linear infinite;
}

.loaderText {
    position: relative;
    width: 70px;
    height: 70px;
    right: 50%;
    top: 41%;
    color: white;
    margin-top: 5px;
}

#overlayDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .9;
    z-index: 1;
}

/*.spinnerDiv {
    position: relative;
    height: 300px;
    width: 200px;
    border: 1px solid
}*/

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/**********************************************/
 