table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
      text-align: right; 
}


.top-nav {
    float: right !important;
}

#wrapper {
    padding-right:4px;
    padding-left:4px;
}

.label-error{
    color:red;
}

a  {
    cursor: pointer;
}

select {
    padding: 3px 12px !important;
}

.required:after {
    content: " *";
    color: red;
}
 