@model ShipTo.Core.VMs.ExtractToCarrierVM

<div class="modal fade" id="Modal_ExtractToCarrier" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">استخراج لمندوب</h4>
            </div>
            <form id="form_ExtractToCarrier">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label asp-for="Carrier_Id" class="control-label"></label>
                                <select asp-for="Carrier_Id" class="form-control"></select>
                                <span asp-validation-for="Carrier_Id" class="text-danger ValidationSpan"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="PostForm_ExtractToCarrier()" class="btn btn-primary modalFooterBtn">&nbsp;&nbsp;  استخراج لمندوب  &nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse($("#form_ExtractToCarrier"));
         var getCarriersURL = '@Url.Action("GetAll", "Carrier")';
        PopulateDDL('Carrier_Id', getCarriersURL);
      });

    function PostForm_ExtractToCarrier() {
        ShowSpinner()
        if ($("#form_ExtractToCarrier").valid()) {
            var shippingOrderIds = tbl.rows({ selected: true }).data().toArray().map(function (item) { return item.id; })
            var data2send  = {
                Carrier_Id: document.getElementById('Carrier_Id').value, ShippingOrderIds: shippingOrderIds
            }
            var extractToCarrier_Data = JSON.stringify(data2send);
          
            var PostURL = '@Url.Action("ExtractToCarrier", "ShippingOrder")'
            $.ajax({
                type: "POST",
                url: PostURL,
                contentType: 'application/json',
                data: extractToCarrier_Data,
                success: function (response) {
                    if (response.status == AjaxResponseStatusEnum.Success) {
                        var _fileName = response.dataObj
                        window.open('@Url.Action("ExtractToCarrierDownloadFile", "ShippingOrder")?fileName=' + _fileName, '_blank');
                        Search();
                        document.getElementById('form_ExtractToCarrier').reset();
                        $('.modal').modal('hide');
                        toastr.success("تم بنجاح");
                    } else {
                        toastr.error("فشل "  +" :" + response.errorMessage);
                    }
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("حدث خطأ أثناء إرسال البيانات: " + response.errorMessage);
                }
            });
        }
        HideSpinner()
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
