<div class="modal fade" id="Modal_ExtractToShipper" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">حذف عنصر</h4>
            </div>
            <div class="modal-body" style="margin-right: 10px; font-size:16px">
               
            </div>
            <div class="modal-footer">
                <button type="button" onclick="DeleteItem()" class="btn btn-primary modalFooterBtn">&nbsp;&nbsp;  حـذف  &nbsp;&nbsp;</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>

        </div>
    </div>
</div>
